@import url("typeface-inter");

:root {
  --font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #101828;
  display: flex;
  justify-content: center;
}

#root {
  background-color: #f7f7f7;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #101828;
  text-decoration: inherit;
}
a:hover {
  color: #e44848;
}
